@import "tailwindcss";
@import '@fontsource-variable/eb-garamond';

@custom-variant dark (&:where(.dark, .dark *));

@layer base{
    body{
        font-family: Roboto, Helvetica, Arial, sans-serif;
    }
    h1{
        font-family: 'EB Garamond Variable', serif;
    }

}

@layer utilities{
    .flex-center{
        @apply flex justify-center items-center;
    }
    .flex-left{
        @apply flex justify-end;
    }
}
@theme{
    --color-whites:#fff;
    --animate-fadin:ease-in-out 1s;
    --color-tx:#000F3A;
    @keyframes fadin {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
        
    }
}